<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="section">
        <h5>Create message</h5>
    </div>
    <div class="section center">
        <div class="row">
            <form class="col s12" [formGroup]="createMessageForm">
                <div class="row">
                    <div class="section">
                        <div class="center-align">
                            <input id="title_message_user" type="text" formControlName="title_message_user" placeholder="{{ 'Talk about me' | translate }}" maxlength="150">
                            <label for="title_message_user">{{ 'Title messages' | translate }}</label>
                        </div>
                    </div>
                    <div class="section">
                        <div class="center-align">
                            <textarea id="body_message_user" formControlName="body_message_user" class="materialize-textarea" placeholder="{{ 'Create message for share with friends. Max 700 chars' | translate }}" maxlength="700"></textarea>
                            <label for="body_message_user">{{ 'Messages' | translate }}</label>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <div class="right-align">
                        <button class="btn waves-effect waves-light black-text" (click)="createMessageUser(createMessageForm.value)" [disabled]="!createMessageForm.valid">{{ "Share" | translate }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="section">
        <div class="row">
            <div class="col s12 m6">
                <h5 class="center" *ngIf="messageArray.length <= 0">No tiene mensajes</h5>
                <div class="card white" *ngIf="messageArray.length > 0">
                    <div class="card-content black-text">
                        <span class="card-title"><b>Card Title</b></span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action center" style="display:flex; justify-content: space-between; align-items: center;">
                        <p style="font-size: 12px;">10:25 am 20/11/22</p>
                        <p style="font-size: 16px;"><b>Daniel Amadeus</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
