<ng-container>
    <nav>
        <div class="nav-wrapper container">
            <a class="brand-logo fontColor left"><img [src]="'assets/img/logo-trans.png'" height="35">&nbsp;Wires</a>
            <div class="right">
                <div class="head-menu-item">
                    <!-- <button class="head-menu-item-btn" [cdkMenuTriggerFor]="languageOverlay">
                        <img [src]="'assets/img/flag-' + selectedLanguage.flag + '.png'" class="flag" alt="{{ selectedLanguage.Idiom | translate }}">
                    </button> -->
                    <button class="head-menu-item-btn" style="padding-right: 1rem;" [cdkMenuTriggerFor]="MessagesOverlay">
                        <i class="bi bi-chat-square-dots white-text"></i>
                    </button>
                    <button class="head-menu-item-btn" [cdkMenuTriggerFor]="ProfileOverlay">
                        <i class="bi bi-list white-text"></i>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</ng-container>

<ng-template #MessagesOverlay>
    <div class="card" cdkMenu>
        <div class="white">
            <div class="card-content black-text">
                <h6><b>Card Title</b></h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="white">
            <div class="card-content black-text">
                <h6><b>Card Title</b></h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #ProfileOverlay>
    <div class="overlay overlay-language overlay-fall" cdkMenu>
        <ul>
            <li class="valign-wrapper center-align">
                <span style="font-size: 16px;"><b>Daniel Amadeus</b></span>
            </li>
            <li class="valign-wrapper center-align" (click)="logOut()" cdkMenuItem>
                <i class="bi bi-pencil-square"></i>&nbsp;&nbsp;<span>{{ "Create Messages" | translate }}</span>
            </li>
            <li class="valign-wrapper center-align" (click)="logOut()" cdkMenuItem>
                <i class="bi bi-send-fill"></i>&nbsp;&nbsp;<span>{{ "My Messages" | translate }}</span>
            </li>
            <li class="valign-wrapper center-align" (click)="logOut()" cdkMenuItem>
                <i class="bi bi-wechat"></i>&nbsp;&nbsp;<span>{{ "See all messages" | translate }}</span>
            </li>
            <li class="valign-wrapper center-align" (click)="logOut()" cdkMenuItem>
                <i class="bi bi-box-arrow-in-right"></i>&nbsp;&nbsp;<span>{{ "Log out" | translate }}</span>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template #languageOverlay>
    <div class="overlay overlay-language overlay-fall" cdkMenu>
        <ul>
            <li *ngFor="let idiom of idioms" (click)="useLanguage(idiom.prefix)" cdkMenuItem>
                <img [src]="'assets/img/flag-' +  idiom.flag + '.png'" width="21" height="20" alt="{{ idiom.Idiom | translate }}">
                <span>{{ idiom.Idiom | translate }}</span>
            </li>
        </ul>
    </div>
</ng-template>
