<ng-container>
    <div class="banner">
        <img class="hide-on-med-and-up scale-down" [src]="'assets/img/banner.jpg'" alt="Wires">
    </div>
    <div class="container">
        <div class="row center">
            <div class="container section">
                <h5>Welcome To Wires</h5>
            </div>
            <div class="row center">
                <div class="col s12">
                    <ul class="tabs tabs-fixed-width container" id="signInUp">
                        <li class="tab col s6"><a class="active" href="#signinInterface"><b>{{ 'Sign in' | translate }}</b></a></li>
                        <li class="tab col s6"><a href="#signupInterface"><b>{{ 'Sign up' | translate }}</b></a></li>
                    </ul>
                </div>
                <div id="signinInterface" class="col s12">
                    
                </div>
                <div id="signupInterface" class="col s12">
                    <div class="section container">
                        <h5>{{ 'Sign up' | translate }}</h5>
                        <div class="row">
                            <!-- Form -->
                            <form class="col s12" [formGroup]="signUpForm">
                                <div class="row">
                                    <div class="section">
                                        <div class="center-align">
                                            <input id="nickname_signup" type="text" formControlName="nickname_signup" placeholder="{{ 'Nickname' | translate }}" minlength="1" maxlength="50">
                                            <label for="nickname_signup">{{ "Nickname" | translate }} *</label>
                                            <!-- <div *ngIf="f.nickname_signup.touched && f.nickname_signup.invalid" class="red-text">
                                                <div *ngIf="f.nickname_signup.errors?.required">*&nbsp;{{ 'Required field' | translate }}</div>
                                                <div *ngIf="f.nickname_signup.errors?.cannotContainSpace">{{ 'Blank spaces are not allowed' | translate }}</div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="section">
                                        <div class="center-align">
                                            <input id="fullname_signup" type="text" formControlName="fullname_signup" placeholder="{{ 'Names and Surnames' | translate }}" minlength="2" maxlength="150">
                                            <label for="fullname_signup">{{ "Names and Surnames" | translate }} *</label>
                                            <!-- <div *ngIf="f.fullname_signup.touched && f.fullname_signup.invalid" class="red-text">
                                                <div *ngIf="f.fullname_signup.errors?.required">*&nbsp;{{ 'Required field' | translate }}</div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="section">
                                        <div class="center-align">
                                            <input id="email_signup" type="email" formControlName="email_signup" placeholder="{{ 'Email' | translate }}" minlength="5" maxlength="150">
                                            <label for="email_signup">{{ "Email" | translate }} *</label>
                                            <!-- <div *ngIf="f.email_signup.touched && f.email_signup.invalid" class="red-text">
                                                <div *ngIf="f.email_signup.errors?.required">*&nbsp;{{ 'Required field' | translate }}</div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="section">
                                        <div class="center-align" (keyup)="0">
                                            <input id="password_signup" type="password" formControlName="password_signup" placeholder="{{ 'Password' | translate }}" minlength="8" maxlength="256" #passSignUpValue>
                                            <label for="password_signup">{{ "Password" | translate }} *</label>
                                            <!-- <div *ngIf="f.password_signup.touched && f.password_signup.invalid" class="red-text">
                                                <div *ngIf="f.password_signup.errors?.required">*&nbsp;{{ 'Required field' | translate }}</div>
                                                <div *ngIf="f.password_signup.errors?.minlength">{{ 'Must be at least 8 characters' | translate }}</div>
                                            </div> -->

                                            <div class="section">
                                                <label>
                                                    <input type="checkbox" [checked]="showPassValue" (click)="showPasswordLogin($event)">
                                                    <span>{{ "See the password" | translate }}</span>
                                                    <p *ngIf="showPassword">{{ passSignUpValue.value }}</p>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="section">
                                    <div class="center-align">
                                        <button class="btn waves-effect waves-light black-text" (click)="createUser()" [disabled]="!signUpForm.valid">{{ "Create" | translate }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="center-align">
                        <button class="head-menu-item-btn" [cdkMenuTriggerFor]="languageOverlay">
                            <img [src]="'assets/img/flag-' + selectedLanguage.flag + '.png'" class="flag" alt="{{ selectedLanguage.Idiom | translate }}">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #languageOverlay>
        <div class="overlay-language overlay-fall" cdkMenu>
            <ul>
                <li *ngFor="let idiom of idioms" (click)="useLanguage(idiom.prefix)" cdkMenuItem>
                    <img [src]="'assets/img/flag-' +  idiom.flag + '.png'" width="21" height="20" alt="{{ idiom.Idiom | translate }}">
                    <span>{{ idiom.Idiom | translate }}</span>
                </li>
            </ul>
        </div>
    </ng-template>
</ng-container>